<link href="style.css" type="text/css" rel="stylesheet">
body { 
  text-align: center;
  background-color: #F2; 
   background-color: rgba(0, 0, 0, 0.5);
} 
.btn {
  background-color: #635d51;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
}
.dropdown {
  position: absolute;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd}
.dropdown:hover .dropdown-content {
  display: block;
}

.btn:hover, .dropdown:hover .btn  {
  background-color: #0b7dda;
}


.магазин { 
  text-align: center; 
  background-color: #fff; 
  padding: 20px; 
  margin: 20px; 
   background-color: rgba(0, 0, 0, 0.5);
} 


.description { 
  font-style: italic; 
   color: #f09b0a; 
} 

.rating { 
  margin-top: 15px; 
} 

.category {    
  margin-right: 5px;
} 

.value { 
  color: #00cc00; 
}
.btn-new {
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #0B63F6;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 </body>
</html>
colo
